<div class='container'>
    <div class='row'>
        <h1>{{this.game.dataValues.name}}</h1>
    </div>
    <div class='row'>
        <div class='col s5'>
            <div class='row'>
                <img src="{{this.game.dataValues.image_url}}" alt="{{this.game.dataValues.name}} image" class='col s12'>
            </div>
            <div class='row'>
                <button class='btn gameAddButton col s3 offset-s1' data-id="{{this.game.dataValues.id}}"><i
                        class="fas fa-plus-circle"></i> Add</button>
            </div>
        </div>
        <div class="col s7">
            <div class="card gameCard">
                <div class="card-content white-text">
                    <span>{{this.game.dataValues.year}} | {{this.game.dataValues.min_players}} -
                        {{this.game.dataValues.max_players}}
                        players | {{this.game.dataValues.avg_time}} minutes</span>
                    <p>

                    </p>
                    <span><strong>Category:</strong> {{this.game.dataValues.category}}</span>
                    <p><strong>Mechanics:</strong> {{this.game.dataValues.mechanic}}</p>
                    <p><strong>Average Rating: </strong> {{this.game.dataValues.avg_rating}}/10</p>
                </div>
                <div class="card-action">
                    <div class="col">
                        <a href="#" class='descriptionLink' data-name='{{this.game.dataValues.name}}'>Description</a>
                    </div>
                    <div class="col">
                        <a href="#" class='redditCommentLink' data-name='{{this.game.dataValues.name}}'>Reddit Says
                            Things</a>
                    </div>
                </div>
                <div id='infoDiv' class='container'>

                </div>
            </div>

        </div>
    </div>


</div>



</div>