<br>
<br>


<div class='container'>
    <div class='row'>
        <div class="row">
            <div class="col s4">
                <div class="card userCard">

                    <div class="card-image">
                        <img src={{this.user.dataValues.avatar}}>
                    </div>
                    <div class="card-content">
                        <p class="card-title userCardUsername">{{this.user.dataValues.username}}</p>
                    </div>
                </div>
            </div>

            <div class='col s12 m8 card bioCard'>
                <h2> User Bio</h2>
                <p class='bioText'>{{this.user.dataValues.bio}}</p>
            </div>

        </div>
        <div class="row">
            <h4 class='col s12 center'> User Library </h4>
            {{#each user.games}}
            <div class='cardHolder col l4 m6 s12'>
                <div class="card indexCard">
                    <div class="card-image">
                        <img class="gameCardImage" src="{{this.dataValues.image_url}}">
                    </div>
                    <div class="card-content row cardContent">
                        <h5 class='cardTitle'>{{this.dataValues.name}}</h5> <span
                            class='cardText'>{{this.dataValues.min_players}} - {{this.dataValues.max_players}}
                            players</span>
                        <p class='cardText flow-text'>Category: {{this.dataValues.category}}</p>

                    </div>
                    <div class='row right'>

                        <a href="/games/{{this.dataValues.id}}"><button class='btn toGamePage col s6'
                                data-id="{{this.dataValues.id}}"><i class="fas fa-puzzle-piece"></i> Info</button></a>

                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>


</div>