<br>


<div class='container'>
    <div class='row'>
        <div class="row">
            <div class="col s3">
                <div class="card">

                    <div class="card-image">
                        <img src="/assets/images/defaultAvatar.png">

                        <p class="card-title userCardUsername">{{this.dataValues.username}}</p>
                        <a class="btn-floating halfway-fab waves-effect waves-light editUser"><i
                                class="fas fa-user-edit"></i></a>
                    </div>
                    <div class="card-content">
                        <p>{{this.dataValues.firstname}} {{this.dataValues.lastname}}</p>
                        <p>{{this.dataValues.email}}</p>
                        <p>Location: {{this.dataValues.location}}</p>
                    </div>
                </div>
            </div>
            <div class='col s8 userLibraryDiv'>


            </div>
        </div>
    </div>
</div>